---
layout: html_page.hbs
title: <%= app.title %>
description: <%= app.description %>
#appcache: <%= app.cachefile %>
---
{{>header}}
<p>Your html here....</p>
<p>For themed blank apps check:</p>
<ul>
    <li><a href="ubuntu-app.html">ubuntu</a></li>
</ul>